@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-family: var(--system-ui);
  font-size: 16px;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  height: 15%;
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header .title {
  color: #1c1917;
  font-size: 4rem;
  font-weight: 900;
}

main {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;
}

.players-info {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Concert One', cursive, var(--system-ui);
  font-size: 3rem;
}
.current-player {
  transform: scale(1.2);
}
.game-board {
  height: 60%;
  width: 30%;
  border: 2px black solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game-board-cell {
  border: 2px solid black;
  font-size: 6rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.92);
}
.modal-content {
  margin: 16% auto;
  height: 30%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.game-over-message {
  color: #f9fafb;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}

.restart-btn {
  font-size: 2.5rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.restart-btn:hover {
  background-color: rgba(0, 0, 0);
  color: white;
  border-color: white;
  transition: all 0.3s;
}
